/* shared styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header styles starts here */
/* header {} */

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    width: 60px;
    object-fit: contain;
    margin-right: 15px;
}

.nav-logo h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-logo h3 span {
    color: #FF42A5;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin: 25px 0;
    
}

.nav-menu li:last-child {
    display: flex;
    align-items: center;
}
/* 
.nav-menu li:last-child {
    padding: 15px 0;
} */
.nav-menu > li .follow-us-link {
    display: flex;
    align-items: center;
    /* align-content: center; */
}

.nav-menu > li .follow-us-link img {
    margin-right: 10px;
}

.nav-menu > li > a {
    padding: 0 20px;
    color: #3C354F;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 500;
}

.nav-menu img {
    width: 20px;
    height: 20px;
}

/* header styles ends here */

/* main styles ends here */

/* banner styles starts here */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    height: 700px;
    width: 50%;
    background-image: url('images/Group\ 14.png');
    background-size: cover;
    background-position: center;
    margin-right: 0 50px;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title2 {
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p {
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.banner-content p img {
    width: 20px;
height: 20px;
margin-right: 10px;

}

.banner-content p {
    color: #534C64;
font-size: 1.25rem;
font-weight: 500;
text-transform: lowercase;
}

.banner-img {
    width: 50%;
    /* padding: 0 20px; */
    margin-right: 50px;
}

.btn-group {
    margin-top: 40px;
}

.btn-primary {
    background-color: #FF42A5;;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10px;
}

.btn-secondary {
    background-color: #50C5F7;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    
font-size: 1rem;
font-weight: 600;
text-transform: uppercase;
}
/* banner styles ends here */

/* gamer styles starts here */
.gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 0;
}
.gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamer-img {
    width: 50%;
}

.gamer-content {
    width: 50%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.gamer-title {
    text-align: right;
    font-size: 2.2rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.gamer-desc {
    color: #534C64;
text-align: right;
font-size: 1.2rem;
font-weight: 400;
line-height: 30px;
margin-bottom: 10px;
}
.gamer-content button {
    width: 200px;
    margin-bottom: 24px;
}

.gamer-content .quote h3{
    color: #534C64;
font-size: 32px;
font-weight: 700;
line-height: 45px;
}

.gamer-content .quote .text1 {
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    margin-right: auto;
}
/* gamer styles ends here */

/* videos styles starts here */
.videos-section {
    /* text-align: center; */
}

.section-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.section-title span {
    font-size: 48px;
    font-weight: 700;
    background-color: #F948B2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-desc {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

.videos-container {
    padding: 44px 0;
    display: flex;
    justify-content: space-between;
}

.video {
    width: 25%;
    padding: 0 10px; 
}

.video img {
    margin-bottom: 22px;
}

.videos .img-details {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
}
/* videos styles ends here */
/* play games styles starts here */

.play-games-section {
    margin-top: 60px;
    margin-bottom: 160px;
}

.play-games1, .play-games2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-games1 {
    margin-bottom: 170px;
}


.play-content1, .play-content2 {
    width: 40%;
    padding: 0 60px;
}

.play-content1 {
    margin-right: 30px;
}

.play-content2 {
    margin-left: 30px;
}

.play-title1, .play-title2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}

.play-title1 {
    text-align: right;
}

.play-title2 {
    text-align: left;
}

.play-title1 span, .play-title2 span {
    background-color:#F948B2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-desc1, .play-desc2 {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play-desc1 {
    text-align: right;
}

.play-desc2 {
    text-align: left;
}

.play-img-container1, .play-img-container2 {
    width: 50%;
    /* box-sizing: border-box; */
}

.play-img-container1, .play-img-container2 {
    position: relative;
}

.play-img-container1 .overlay, .play-img-container2 .overlay {
    position: absolute;
    top: 350px;
}

.play-img-container1 .overlay {
    left: -140px;
}

.play-img-container2 .overlay {
    right: -140px;
}
/* play games styles ends here */

/* careers styles starts here */
.career-section {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin: 200px 0;
    padding: 100px 0;

}

.career-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-content {
    width: 50%;
}

.career-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; /* 125% */
    margin-bottom: 20px;
}

.career-desc {
    color: #FFF;
    font-family: Work Sans;font-size: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px; /* 166.667% */
    margin-bottom: 30px;
}

.designation-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.9rem;
    margin-bottom: 25px;
}

.designation, .location {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    line-height: 40px;
}

.location {
    text-align: right;
}

.btn-career {
    padding: 20px 40px;
    background-color: #fff;
    color: #FF42A5;
    border: none;
    border-radius: 32px;
}

.career-img {
    width: 50%;
}
/* careers styles ends here */

/* main styles ends here */


/* responsive design starts here */
@media screen and (max-width: 576px) {
    nav, .nav-menu, .gamer, .videos-container,
    .play-games1,
    .career-container {
        flex-direction: column;
    }

    .banner, .play-games2 {
        flex-direction: column-reverse;
    }

    .play-content1, .play-content2 {
        text-align: center;
    }
    

    .banner-content,
    .banner-img, 
    .gamer-img, 
    .gamer-content, 
    .video,
    .play-content1, 
    .play-content2,
    .play-img-container1,
    .play-img-container2,
    .career-content,
    .career-img
     {
        width: 100%;
        padding: 10px 20px;
        margin: 0 auto;
    }

    .play-title1, .play-title2, .play-desc1, .play-desc2 {
        text-align: center;
    }
    
    .play-img-container1 > img, .play-img-container2 > img {
        width: 80%;
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .play-img-container1 .overlay, .play-img-container2 .overlay {
        width: 40%;
        position: absolute;
        top: 250px;
        
    }

    .play-img-container1 .overlay {
        left: 0px;
    }

    .play-img-container2 .overlay {
        right: 0px;
    }

    .gamer-section {
        background: none;
    }

    .gamer-content {
        margin-top: 44px;
        align-items: center;
        justify-content: center;
    }

    .gamer-content .gamer-desc {
        text-align: center;
    }

    .video {
        text-align: center;
    }
}
/* responsive design ends here */







